@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
div#root {
  display: flex;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0px !important;
}

.accent-color {
  color: rgb(3, 51, 74);
}

/*########################################## FLEX ##########################################*/
.vertical-flex {
  display: flex;
  flex-direction: column;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.fill-flex-container {
  flex: 1;
}
/*########################################## FLEX ##########################################*/

/*########################################## SHADOW ##########################################*/
.shadow {
  -webkit-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.48), -10px -10px 10px -5px rgba(255, 255, 255, 0.48);
  -moz-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.48), -10px -10px 10px -5px rgba(255, 255, 255, 0.48);
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.48), -10px -10px 10px -5px rgba(255, 255, 255, 0.48);
}

.low-shadow {
  -webkit-box-shadow: 7px 7px 7px -5px rgba(0, 0, 0, 0.48), -7px -7px 7px -5px rgba(255, 255, 255, 0.48);
  -moz-box-shadow: 7px 7px 7px -5px rgba(0, 0, 0, 0.48, -7px -7px 7px -5px rgba(255, 255, 255, 0.48));
  box-shadow: 7px 7px 7px -5px rgba(0, 0, 0, 0.48), -7px -7px 7px -5px rgba(255, 255, 255, 0.48);
}
/*########################################## SHADOW ##########################################*/

/*########################################## RADUIS ##########################################*/
.border-rad {
  border-radius: 15px;
}
/*########################################## RADUIS ##########################################*/

/*########################################## MARGIN ##########################################*/
.input-margin {
  margin-bottom: 10px;
}
/*########################################## MARGIN ##########################################*/

/*########################################## LINK ##########################################*/
a.site-nav-link {
  text-decoration: none;
  color: #e5e5e5;
}

a.site-nav-link :active {
  text-decoration: none;
  color: #e5e5e5;
}

a.site-nav-link :hover {
  text-decoration: none;
  color: #e5e5e5;
}

a.site-nav-link :visited {
  text-decoration: none;
  color: #e5e5e5;
}
/*########################################## LINK ##########################################*/
